:root {
    --color-background: #e0e0e0;
    --color-background-section: #FFFFFF;

    --color-background-element: #EEEEEE;
    --color-background-clock: #2A2A2A;
    --color-background-listing-header: #2A2A2A;
    --color-background-listing: #d5d5d5;

    --color-red: #CA4747;
    --color-yellow: #F2994B;
    --color-green: #45BF70;

    --color-text-normal: #000000;
    --color-text-light: #FFFFFF;
    --color-text-gray: #b1b1b1;

    --font-normal: JetBrainsMonoRegular;
    --border-radius: 5.0px;

    --size-font-normal: 20.0pt;
}

@font-face {
    font-family: JetBrainsMonoRegular;
    src: url(assets/fonts/JetBrainsMono-Regular.woff2);
}

body {
    margin: 0.0px;
    padding: 0.0px;

    background-color: var(--color-background);

    font-family: var(--font-normal);
}

.container {
    display: flex;
    flex-direction: row;

    margin: 6.0vh 5.0vw;
    padding: 0.0px;

    width: auto;
    height: auto;
}

.bus-list {
    flex: 1.0;
    overflow: auto;

    /* width: 325.0px;
     height: 600.0px; */

    background-color: var(--color-background-element);
    border-radius: var(--border-radius);
}

.bus-list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 5.0px;
    padding: 1.0px 10.0px;

    background-color: var(--color-background-listing-header);
    color: var(--color-text-light);

    border-radius: var(--border-radius);
    
    font-size: var(--size-font-normal);
}

.bus-list-items-container {
    display: flex;
    flex-direction: column;

    padding: 5.0px;
}

#listing-test {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin: 8.0px 5.0px;

    background-color: var(--color-background-listing);

    border-radius: var(--border-radius);
    box-shadow: rgb(161, 161, 161) 0.0px 4.0px 3.0px;

    font-size: var(--size-font-normal);
}

#listing-test-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 1.0px 10.0px;

    background-color: var(--color-background-listing);

    border-radius: var(--border-radius);

    font-size: var(--size-font-normal);
}

#listing-test-num {
    font-weight: bold;
}

#listing-test-status {
    font-weight: bold;
    color: var(--color-green)
}

#listing-test-notice {
    padding: 4.0px 8.0px;

    background-color: var(--color-yellow);

    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);

    font-size: 15.0pt;
    font-weight: normal;
    text-align: center;
}

#listing-test-properties-container {
    display: none;

    padding: 4.0px 8.0px;

    background-color: var(--color-text-light);

    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);

    font-size: 15.0pt;
    font-weight: normal;
}

#listing-test-properties-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 3.0px;
}

#properties-title {
    color: var(--color-text-gray);
}

#listing-test-properties-button-container {
    display: flex;
    flex-direction: row;
}

#properties-status {
    color: var(--color-green);
}

#properties-color {
    width: 20.0px;
    height: 20.0px;

    background-color: var(--color-yellow);
    border-radius: 50.0%;
}

#properties-button {
    margin-left: 10.0px;
    padding: 0.0px 3.0px;

    border-radius: var(--border-radius);
}

#properties-button:hover {
    background-color: var(--color-background);
}