body {
    margin: 0.0px;
    padding: 0.0px;

    font-family: Helvetica;
}
header {
    padding: 20px;

    text-align: center;
    
    background-color: aquamarine;
    background-image: url("images/bakery-header.jpeg");
    background-size: 100.0%;
    background-position: center;

    color: white;
}
div {
    margin: auto;
    width: 100.0px;

    background-color: cornflowerblue;
}
ul {
    margin: 0.0px;
    padding: 0.0px;

    list-style-type: none;
}
li {
    display: inline-block;

    margin: 0.0px 20.0px 0.0px 0.0px;
}
a {
    text-decoration: none;
    color: white;
}
nav {
    display: flex;

    align-items: center;
    justify-content: center;
    text-align: center;
}
footer {
    padding: 10px 20px;

    background-color: gold;
}
.top-section {
    display: flex;
    flex-direction: row;
    
    padding: 20px;

    background-color: tomato;
}
.bottom-section {
    display: flex;
    flex-direction: column;
    
    padding: 20px;

    background-color: tomato;
}
.bottom-section div {
    margin: auto;
    width: 100.0px;

    background-color: azure;
}
.logo {
    display: inline-block;

    width:  100.0px;
    height: 100.0px;

    background-image: url("images/breadstick.png");
    background-size: 100.0px;
    background-repeat: no-repeat;
}
.nav-element {
    position: relative;
    top: -45.0px;
}
.hero {}